node_modules

# Next.js
.next/
out/

# CesiumJS static assets (3D турш), webpack-ээр node_modules-ээс хуулагдана
public/cesium/

# Local environment
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
